@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

.parchment {
  position: absolute;
  display: flex;
    width: 75%;
  min-height: calc((1vw + 1vh) * 75);
  /* center page with absolute position */
  top: 0%; left: 50%; transform: translate(-50%, 0);
  margin: 2em 0;
    padding: 4em;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
  filter: url(#wavy2);
}

.labelSize{
  font-size: 10px;
}
.form-floating>.form-control,
.form-floating>.form-control-plaintext {
  padding: 0rem 0.75rem;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
  height: calc(2.5rem + 2px);
  line-height: 1;
}

.form-floating>label {
  padding: 0.5rem 0.75rem;
}

.card {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.66);
  transform: translateZ(0);
  display: flex;
}

.Card.Img {
  width: '50vw';
  height: '30vh';
}

.tokenDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tabColor {
  color: black;
  border: 1px solid #dee2e6;
  border-top: transparent;
  padding: 15px;
}
.characterSheet {
  width: 20rem;
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(/./images/scroll.png);
}
